//Busqueda de Fuente Bricolage Grotesque
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap');


//reseto de Estilos
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    
    body{
        background-color: $color-principal;
        .rootApp{
            display: grid;
            grid-template-areas: 
            'cabecera'
            'contenido'
            'pie';
            grid-template-columns: 100vw;
            grid-template-rows: 40vh auto 20vh;
            align-items: center;
            justify-items: center;
        }
        .rootPanel{
            display: grid;
            grid-template-areas: 
            'cabecera'
            'contenido'
            'pie';
            grid-template-columns: 100vw;
            grid-template-rows: 20vh auto 20vh;
            align-items: center;
            justify-items: center;
        }
    }
}

