.contenedorModificadorProductos{
    color:$color-secundario;
    width: 90%;
    h3{
        text-align: center;
        margin-bottom:30px;
    }
    form{
        display: grid;
        grid-template-areas: 
        "nombreProducto inputNombre"
        "detalleProducto inputDetalle"
        "precioProducto inputPrecio"
        "categoriaProducto inputCategoria"
        "subcatProducto inputSubcat"
        "textoCheckbox checkbox"
        "buttonVolver buttonCrear";
        gap: 10px;
    
        
        #nombreProducto{
            grid-area: nombreProducto;
        }
        #inputNombre{
            grid-area: inputNombre;
        }
        #detalleProducto{
            grid-area: detalleProducto;
        }
        #inputDetalle{
            grid-area: inputDetalle;
        }
        #precioProducto{
            grid-area: precioProducto;
        }
        #inputPrecio{
            grid-area: inputPrecio;
        }
        #categoriaProducto{
            grid-area: categoriaProducto;
        }
        #inputCategoria{
            grid-area: inputCategoria;
        }
        #subcatProducto{
            grid-area: subcatProducto;
        }
        #inputSubcat{
            grid-area: inputSubcat;
        }
        #textoCheckbox{
            grid-area: textoCheckbox;
        }
        #checkbox{
            grid-area: checkbox;
        }
        #contenedorCrear{
            display: flex;
            justify-content: flex-end;
            #buttonCrear{
                grid-area: buttonCrear;
                width: 40%;
                padding: 5px;
                align-self: center;
            }
        }
        #buttonVolver{
            grid-area: buttonVolver;
            align-items: center;
            button{
                width: 40%;
                padding: 5px;
            }
        }
    }
    

}