.contenedorCajasProductos{
    display: flex;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 15px 0px;
        cursor: pointer;
        color:$color-principal;
        border: 1px solid black;
        width: 100%;

        .contenedorCaja{
            width: 90%;
            margin: 10px 0;
            display: grid;
            grid-template-areas: 'img detalle';
            grid-template-columns: 1fr 2fr;
            flex-direction: row;
            border-radius: 8px;
            border: 1px solid $color-principal;
            box-shadow: 0px 0px 4px 0px rgba(251, 210, 216, 0.50);
            .contenedorImgCaja{
                width: 100%;
                position: relative;
                overflow: hidden;
                background-color: $color-secundario;
                border-radius: 8px 0 0 8px;
                .imgCaja{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 75%;
                }
            }
            .contenedorTextoCaja{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: #f0f0f0;
                border-radius: 0 8px 8px 0;
                color:$color-principal;
                gap:10px;
                padding: 8px;
                .contenedorDetalle{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .detalleTitulo{
                        
                    }
                    .detalleProducto{
                        font-size: 12px;
                    }
                }
                .contenedorPrecio{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    border-top: 1px solid var(--primery-2, $color-principal);
                    .detallePrecio{
                        
                        font-size: 24px;
                    }
                }
            }
        }

    }
    
}


       