.contenedorBotoneraAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    button{
        font-weight: 1000;
        color:$color-principal;
        background-color: $color-secundario;
        padding: 10px;
    }
}